[submodule "plymouth"]
	path = plymouth
	url = https://aur.archlinux.org/plymouth.git/
[submodule "gdm-plymouth"]
	path = gdm-plymouth
	url = https://aur.archlinux.org/gdm-plymouth.git/
[submodule "gnome-shell-extension-dash-to-dock"]
	path = gnome-shell-extension-dash-to-dock
	url = https://aur.archlinux.org/gnome-shell-extension-dash-to-dock.git/
[submodule "flatplat-theme"]
	path = flatplat-theme
	url = https://aur.archlinux.org/flatplat-theme.git/
[submodule "paper-icon-theme-git"]
	path = paper-icon-theme-git
	url = https://aur.archlinux.org/paper-icon-theme-git.git/
